<section *ngFor="let inf of getInfirmiers()">
  <app-infirmier [data]="inf"></app-infirmier>
  _____________________________________________
</section>


______________________PA_____________________

<div alx-dropzone (alx-ondrop)="desaffectPatient($event)">

  <section *ngFor="let patNA of getPatientsNonAffectes()"
           [alx-draggable]="patNA">
    <app-infirmier [data]="patNA"></app-infirmier>
  </section>

</div>


<!--<section *ngFor="let patNA of getPatientsNonAffectes()">
  <app-infirmier [data]="patNA"></app-infirmier>
</section>-->
<app-formulaire></app-formulaire>


