<!--<div *ngIf="show; then thenBlock else elseblock"></div>

<ng-template #thenBlock > <mat-spinner></mat-spinner> </ng-template>

<ng-template #elseBlock>
<mat-accordion multi="true"
               *ngFor="let inf of getInfirmiers()">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <app-infirmier [data]="inf"></app-infirmier>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '2px' }"></ngx-loading>

  <app-nurse-list id="list"></app-nurse-list>
  <!--<div *ngIf="loading"><mat-spinner ></mat-spinner></div>-->

  <!--<section *ngFor="let inf of getInfirmiers()">
    <app-infirmier [data]="inf"></app-infirmier>
    _____________________________________________
  </section>-->



 <!-- <div alx-dropzone (alx-ondrop)="desaffectPatient($event)">

    <section *ngFor="let patNA of getPatientsNonAffectes()"
             [alx-draggable]="patNA">
      <app-infirmier [data]="patNA"></app-infirmier>
    </section>

  </div>
<!--</ng-template>

<section *ngFor="let patNA of getPatientsNonAffectes()">
  <app-infirmier [data]="patNA"></app-infirmier>
</section>-->
  <!--<button mat-raised-button (click)="<--openDialog()">Pick one</button>-->

<!--<app-formulaire></app-formulaire>-->



