<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <app-secretary alx-dragdrop></app-secretary>

 <!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>-->
  <agm-map [latitude]="getCabinetLat()" [longitude]="getCabinetLng()"> <!--mapReady="mapReady($event)">-->
    <agm-marker [latitude]  = "getCabinetLat()"
                [longitude] = "getCabinetLng()"
                iconUrl    = "/data/hospital-icon.png"
    >
    </agm-marker>

    <agm-marker *ngFor      = "let nurse of getNurses()"
                [latitude]  = "nurse.adresse.lat"
                [longitude] = "nurse.adresse.lng"
                iconUrl    = "https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/48x48/shadow/nurse.png"
    >
    </agm-marker>

    <agm-marker *ngFor      = "let patient of getPatients_Na()"
                [latitude]  = "patient.adresse.lat"
                [longitude] = "patient.adresse.lng">
    </agm-marker>

    <agm-marker *ngFor      = "let patient of getPatients()"
                [latitude]  = "patient.adresse.lat"
                [longitude] = "patient.adresse.lng">
    </agm-marker>


  </agm-map>


</div>



