.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


agm-map {
  height: 300px;
  width: 300px;
}

.list-app-secretary{
  margin: inherit;
  padding: inherit;
  content: close-quote;
  //background-color: #0000fe;
}

/*mat-grid-tile  {
  position: absolute;
  background: lightblue;
}*/
