.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


agm-map {
  height: 300px;
  width: 300px;
}

.list-app-secretary{
  margin: inherit;
  padding: inherit;
  content: close-quote;
  //background-color: #0000fe;
}

div.container
{
  display: flex;
  margin-bottom: 10px;
}

div.container > div
{
  flex: 1 1 5em;
 // margin-left: 10px;
  //height:30px;
 //background-color: #0000cc;
}

div.container > div:first-child
{
  margin-left: 0;
}

div.container > div.one
{
  flex:2 2 calc(10em + 10px); /** 10px is the missing margin of the missing box */
}

div.container > div.tow
{
  flex:2 2 calc(15em + 20px); /** 20px is the missing margin of the two missing boxes */
}
